tr(id=route.id, data-type=route.type, data-uri=route.uri, data-process=route.process, data-content=route.content, data-tryfile=route.tryFile, data-remarks=route.remarks, data-sequence=route.sequence)
    if (editable)
        td(class={inactive: !route.active})
            i.drag-icon.iconfont.icon-drag(title='trag to sequence')
    td.text-left(class={inactive: !route.active})
        h6
            if route.type === 'regexp'
                -const showUri = new RegExp(route.uri);
                span #{showUri} 
                span.badge.badge-secondary(title="regexp match") regexp
            else if route.type === 'exact'
                span #{route.uri} 
                span.badge.badge-info(title="exact match") exact
            else
                =route.uri
        case route.process
            when 'static'
                if route.tryFile === 'Y'
                    small static file(enable try_file) #{route.content}
                else
                    small static file #{route.content}
            when 'rewrite'
                small redirect to #{route.content}
            default
                small
                    |forward to 
                    a(href='/nodeProxy/servers/') #{route.content}
    td(class={inactive: !route.active})
        if route.remarks
            i.remarks-icon.iconfont.icon-icon_remarks(data-toggle="popover" data-content=route.remarks)
            .d-none=route.remarks
    td(class={inactive: !route.active})
        input(type='checkbox', name='active-checkbox', checked=route.active, onchange=`activeRoute(this, "${route.id}")`)
    if (editable)
        td(class={inactive: !route.active})
            i.edit-icon.iconfont.icon-config(title="edit", onclick=`editRoute("${route.id}")`)
            i.del-icon.iconfont.icon-delete(title="delete", onclick=`delRoute("${route.id}")`)