.col-md-4.mt-4(id=server.id, data-name=server.name, data-fallback=server.fallback, data-hosts=server.hosts, data-remarks=server.remarks)
    .card
        .card-header
            if (server.fallback === 'Y') 
                span.badge.badge-primary.badge-fallback(title="forward to this server if no matched route rule") fallback
            =` ${server.name}`
            if server.remarks
                i.server-remarks-icon.iconfont.icon-icon_remarks.float-right(data-toggle="popover" data-content=server.remarks)
        ul.list-group.list-group-flush
            each ip in server.hosts.split(',')
                li.list-group-item=ip
            if (editable)
                li.list-group-item.text-right
                    i.server-edit-icon.iconfont.icon-config(title="edit", onclick=`editServer("${server.id}")`)
                    i.server-del-icon.iconfont.icon-delete(title="delete", onclick=`delServer("${server.id}")`)